<!DOCTYPE html>
<html lang="en"> <!--end oder de?-->
  <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="../styles/style.css" />
      <title>CausalGraph Visualiser</title>
  </head>
  <body>
  
      <!-- Zentrale feste Navigationsbar ganz oben auf der Seite -->
    <div id="navigation-header">
      <h1>CausalGraph Visualiser</h1>
      <button>Button 1</button>
      <button id="right-slidemenu-toggle">Menu</button> <!-- aktuell nur platzhalter -->
    </div>

      <!-- Das initiale kleine von links kommende slidemenu, welches auf right-slidemenu-toggle reagiert -->
    <div id="right-slidemenu-minor">
         <div id="right-slidemenu-minor-buttons">
            <button id="right-slidemenu-minor-button-fileInput">Öffnen PAG</button>
            <button id="right-slidemenu-minor-button-fileOutput">Speichern</button>
            <button id="right-slidemenu-minor-button-fileExport">Exportieren</button>
         </div>
    </div>

      <!-- Die groeßeren von links kommenden slidemenus, welche auf die verschiedenen right-slidemenu-minor-buttons reagieren -->
    <div class="right-slidemenu-major" id="menu-content-1"> <!--right-slidemenu-major-content-fileInput-->
         <div class="right-slidemenu-major-content-headline">Öffnen PAG</div>

         <!-- PAG Matrix Input Section -->
         <section id="pag-matrix-input-section">
            <input type="file" id="pagMatrixFileInput" accept=".csv, .txt" />
              <button class="toggle-textarea" data-target="pagMatrixDisplay">Anzeigen/Verbergen</button>
            <textarea
               id="pagMatrixDisplay"
               placeholder="Matrix wird hier angezeigt..."></textarea>
            <button id="pagMatrixReadButton">Einlesen</button>
         </section>

         <!-- PAG JSON Input Section -->
         <section id="pag-json-input-section">
            <input type="file" id="pagJsonFileInput" accept=".csv, .txt" />
              <button class="toggle-textarea" data-target="pagJsonDisplay">Anzeigen/Verbergen</button>
            <textarea
               id="pagJsonDisplay"
               placeholder="JSON-Daten werden hier angezeigt...">{"nodes": [],"links": []}</textarea>
            <button id="pagJsonReadButton">Einlesen</button>
         </section>
         
         <!-- PAG DOT Input Section -->
         <section id="pag-dot-input-section">
            <input type="file" id="pagDotFileInput" accept=".csv, .txt" />
              <button class="toggle-textarea" data-target="pagDotDisplay">Anzeigen/Verbergen</button>
            <textarea
               id="pagDotDisplay"
               placeholder="DOT-Syntax wird hier angezeigt..."></textarea>
            <button id="pagDotReadButton">Einlesen</button>
         </section>
    </div>

      <!-- Conversion Button Section + Button -->
    <div class="right-slidemenu-major" id="menu-content-2"> <!--right-slidemenu-major-content-fileOutput-->
        <div class="right-slidemenu-major-content-headline">Speichern</div>
        <section id="pag-conversion-button-section">
            <label><input type="checkbox" id="gridClippingToggle" unchecked />Grid</label>
            <button id="pagConvertMatrixToJson">Matrix -> JSON</button>
            <button id="pagConvertJsonToMatrix">JSON -> Matrix</button>
            <button id="pagConvertDotToJson">DOT -> JSON</button>
            <button id="pagConvertJsonToDot">JSON -> DOT</button>
            <button id="pagVisualizeJsonWithD3">Visualiser</button>
        </section>
    </div>

      <!-- Export Button Section + Button -->
    <div class="right-slidemenu-major" id="menu-content-3"> <!--right-slidemenu-major-content-fileExport-->
         <div class="right-slidemenu-major-content-headline">Exportieren</div>
         <button id="downloadPngButton">Download PNG</button>
         <button id="downloadPdfButton">Download PDF</button>
    </div>

      <!-- Graph Container -->
      <div id="graph-container"></div>

      <!-- Label & Link Contextmenus Section -->
       <!--TODO: Bei allen contextmenu functions einen check einfügen, falls die node/link/label-id die man
       initial angeklickt hat nicht mehr existiert, dann für auch nix aus, kann passieren wenn man context menu
       öffnet, etwas löscht und dann etwas ausführt, oder knoten löscht wenn man ihr für kante ziehen aus
       gewhält hat-->
      <div id="context-menus">
        <!--Label Section-->
        <div id="label-context-menu" class="context-menus">
          <button id="menu-center">Center</button>
          <button id="menu-above">Above</button>
          <button id="menu-below">Below</button>
          <button id="menu-left">Left</button>
          <button id="menu-right">Right</button>
        </div>

        <!--Link Section-->
        <div id="link-context-menu" class="context-menus">
          <p><strong>Arrowhead:</strong></p>
          <button id="arrowhead-normal">Normal</button>
          <button id="arrowhead-odot">Odot</button>
          <button id="arrowhead-tail">Tail</button>
          <p><strong>Arrowtail:</strong></p>
          <button id="arrowtail-normal">Normal</button>
          <button id="arrowtail-odot">Odot</button>
          <button id="arrowtail-tail">Tail</button>
          <p><strong>Other:</strong></p>
          <button id="straighten-link">Straighten</button>
          <button id="toggle-dashed-link">Toggle Dashed</button>
          <button id="delete-link">Delete Link</button>
          <p><strong>Change Color:</strong></p>
          <div id="link-color-palette"></div>
        </div>

        <!--Node Section-->
        <div id="node-context-menu" class="context-menus">
          <button id="delete-node">Delete Node</button>
          <p><strong>Change Color:</strong></p> 
          <div id="node-color-palette"></div> <!--rename into node-color-pallate-->
        </div>

        <!--wie bei yED einen neuen knoten generieren nicht nur durch einfaches klicken auf canvas, sondern
        durch kombination von z.B. bei yEd ist es hold alt + klick, ich könnte sowas wie hold k+click machen-->
      </div>

    <!--alle zu beschreibenden und zu erklärenden imports und hilfsfunktionen-->
      <script src = https://cdnjs.cloudflare.com/ajax/libs/d3/7.9.0/d3.min.js></script>
      <script src= https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js></script>
      <script src= https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.2/uuid.min.js></script>
      <script src="../js/constants/allowedColors.js"></script>
      <script src="../js/gui/gui.js"></script>
      <script src="../js/parser/parser.js"></script>
      <script src="../js/visualizer/visualizer.js"></script>
      <script src="../js/grid/grid.js"></script>
      <script src="../js/export/exportAsPng.js"></script>
      <script src="../js/export/exportAsPdf.js"></script>
   </body>
</html>
